
.terms-and-conditions-page {
    padding: 20px;
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.terms-container {
    max-width: 1000px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    
}
.terms-title {
    font-size: 2em;
    color: black;
    text-align: center;
    margin: 0;
}

.terms-intro {
    font-size: 1.1em;
    color: black;
    text-align: center;
    margin: 0 auto;
    max-width: 80%;
}



.terms-section {
    display: flex;
    flex-direction: column;
    
}

.terms-link {
    color: #0066cc;
    text-decoration: none;
}

.terms-link:hover {
    text-decoration: underline;
}




.sustainability-page {
    padding: 20px;
    background-color: lightgray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.sustainability-container {
    max-width: 1000px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}


.sustainability-title {
    font-size: 2em;
    color: darkgreen;
    text-align: center;
    margin: 0;
}

.sustainability-intro {
    font-size: 1em;
    color:black;
    text-align: center;
    margin: 0 auto;
    max-width: 80%;
}

.sdg-section {
    display: flex;
    flex-direction: column;

}

.sdg-title {
    font-size: 2em;
    color: darkgreen;
    text-align: center;
}

.sdg-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.sdg-item {
    
    min-width: 250px;
    background: whitesmoke;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.sdg-image {
    max-width: 25%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.sustainability-link {
    color: darkgreen;
    text-decoration: none;
}

.sustainability-link:hover {
    text-decoration: underline;
}


