body {
    margin: 0;
}

header {
    text-align: center;
}
nav {
    background-color: lightcyan;
}

nav ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;

}
 
nav ul li {
    padding: 1em;
}

.centerImg {
    display: block;
    margin: auto;
}
.Products {
    text-align: center;
}

ul li {
    list-style: none;
}

.fixImg {
    width: 30%;
    display: block;
    margin: auto;
}
.bio {
    display: block;
}

.Mens {
    display: block;
    margin: auto
}

.catalog_list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

footer {
    background-color: grey;
    display: flex;
    justify-content: space-around;
}

.icons_social {
    width: 40px;
    height: 40px;
}

.footer-terms {
    width: 100%;
}

.footer_links {
    width: 50%;
}

.footer_links h2 {
    width: 100%;
}

.footer_map {
    width: 50%;
}